    p {
      font-family: Arial, sans-serif;
      font-size: 20px;
    }
    body {
      background-color: white;
      color: black;
    }
    header {
      padding: 10 px;
      border: 2px solid black;
      background-color: rgb(71, 142, 0);
      color: black;
      font-family: Arial, sans-serif;
      font-size: 50px;
    }
    nav {
      font-family: Arial, sans-serif;
      font-size: 25px;
      padding: 10px;
      border: 2px solid rgb(22, 53, 0);
      background-color: rgb(71, 142, 0);
    }
    footer {
      color: black;
      font-family: Arial, sans-serif;
      font-size: 20px;
    }
    button {
      font-family: Arial, sans-serif;
      font-size: 20px;
      background-color: rgba(255, 255, 255, 0);
      border: none;
    }
    p2 {
      font-family: Arial, sans-serif;
      font-size: 100px;
    }